body{
    background-color: blue;
    color: aqua;
    display: flex;
    flex-direction: column;
}
main{
    display: flex; 
    flex-direction: row;
    flex: auto;
}
article{
    border: 0cm;
    border-color: brown;
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
     overflow-y: auto;
}
